body {
    margin: 0;
    padding: 0;
    background-color: #edf2f6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;

    nav {
        background-color: white;

        ul {
            list-style: none;
            display: flex;
            gap: 20px;
            justify-content: center;
            margin: 0;
            padding: 10px;

            a {
                text-decoration: none;
            }

            #membershipsPage {
                color: grey;
            }

            #userPage {
                color: #6b7de3;

            }
        }
    }

    main {
        padding: 30px;
        margin-bottom: 100px;

        header {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;

            .header {
                display: flex;
                gap: 350px;
                align-items: baseline;
                justify-content: space-between;

                button {
                    background-color: #6b7de3;
                    color: white;
                    border: none;
                    width: 130px;
                    border-radius: 5px;
                    padding: 10px;
                    cursor: pointer;
                    margin-right: 50px;

                    span {
                        margin-right: 10px;
                    }
                }
            }

            p {
                align-self: center;
                font-weight: 700;



                span {
                    cursor: pointer;

                    i {
                        color: #6b7de3;
                    }
                }
            }

        }

        #userList {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        #addUser {
            width: 90vw;
            background-color: white;
            margin: 0 auto;

            form {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                width: 100%;
                padding: 30px;

                input,
                select {
                    width: 600px;
                    padding: 15px;
                    margin: 4px;
                    box-sizing: border-box;
                    background-color: #fafafa;
                    border: 0;
                    box-shadow: 1px 1.5px 1px rgba(118, 118, 118, 0.352);
                    transition: .3s box-shadow;
                    border-radius: 5px;

                    &:hover {
                        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
                    }
                }

                select {
                    width: 350px;
                }

                label {
                    font-weight: 700;
                    display: block;
                    margin: 10px;
                }

                i {
                    color: orange;
                    font-size: 0.5em;
                    vertical-align: middle;

                }

                .btnDiv {
                    margin: 100px 0px 0px 120px;

                    button {
                        white-space: nowrap;
                        padding: 10px 20px;
                        border: none;
                        border-radius: 5px;
                        font-weight: 700;
                        margin-left: 10px;
                    }

                    .add {
                        background-color: #6b7de3;
                        color: white;
                    }
                }


            }

        }
    }

    footer {
        display: flex;
        position: relative;
        justify-content: center;
    }
}